{% extends "base.html" %}

{% block title %}Change password{% endblock %}

{% block content %}
{% if error.is_some() %}
<p><i>{{ error.as_ref().unwrap() }}</i></p>
{% endif %}

{% if let Some(requirements) = password_requirements %}
<h3>Password requirements not satisfied</h3>
<ul>
  {% for error in requirements.iter() %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}

<form action="/admin/password" method="post">
  <label>
    <span>Current password</span>
    <input type="password" placeholder="Enter current password" name="current_password" />
  </label>
  <label>
    <span>New password</span>
    <input type="password" placeholder="Enter new password" name="new_password" />
  </label>
  <label>
    <span>Confirm new password</span>
    <input type="password" placeholder="Repeat new password" name="new_password_check" />
  </label>
  <br />
  <button type="submit">Change password</button>
</form>
<p><a href="/admin/dashboard">&lt;- Back</a></p>
{% endblock %}
