{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
{% if error.is_some() %}
<p><i>{{ error.as_ref().unwrap() }}</i></p>
{% endif %}

<form action="/login" method="post">
  <label>
    <span>Username</span>
    <input type="text" placeholder="john@mail.org" name="username">
  </label>

  <label>
    <span>Password</span>
    <input type="password" placeholder="my secret password" name="password">
  </label>

  <button type="submit">Login</button>
</form>
{% endblock %}
